@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	width: 100%;
	margin: 0;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	
	width: 20%;
	float: left;
	margin-right: 80px;
	margin-left: 20px;
}

footer {
	clear: both;
	position: fixed;
	bottom: 10px;
	left: 0;
}

header {
	padding-left: 1em;

}

img {
	max-width: 75%;
	margin-top: 10px;
}

main {
	float: left;
	width: 40%;
	margin: 5px;
	margin-left: 0;
	margin-top: 0;
}

nav {
	float: left;
	width: 10%;
	padding-left: 5px;
}

#copyright {
	font-size: 80%;
}
